.note-item {
  position: relative;
  padding: 10px;
  
  width: 85%;
  margin: 0 auto;
  border-radius: 16px;
}

.note-item:hover {
  background-color: rgba(129, 126, 126, 0.04);
}

.note-actions {
  position: absolute;
  right: 10px;
  top: 10px;

  display: flex;
  gap: 8px;

  opacity: 0;
  transition: opacity 0.2s ease;
}


.icon-button {
  background: transparent;
  border: none;

  padding: 4px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}


.icon-button img {
  width: 22px;
  height: 22px;

  object-fit: contain;

  opacity: 0.7;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}


.icon-button:hover img {
  opacity: 1;
  transform: scale(1.15);
}


.delete-icon:hover img {
  filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(5000%);
}

.note-item:hover .note-actions {
  opacity: 1;
}

.note-timestamp {
  font-size: 0.8rem;
  margin-bottom: 6px;
  display: block;
  color: black;
}

.note-text {
    font-size: 1rem;
    color: black;
    line-height: 1.2;
}

@media (max-width: 768px) {
  .note-actions {
    opacity: 1;
    gap: 0;
  }
  .note-item {
    width: 100%;
  }

  .icon-button img {
    width: 12px;
    height: 12px;
    object-fit: contain;
    opacity: 0.7;
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;
}
}