.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #f5f7fa;
}

.main-content {
  flex: 1;

  min-height: 100vh;

  margin-left: 280px;

  padding: 40px;

  background: #f5f7fa;

  overflow-y: auto;
  overflow-x: hidden;
}

/* ---------- Laptop ---------- */

@media (min-width: 1024px) {
  .main-content {
    padding: 3rem;
  }
}

/* ---------- Mobile ---------- */

@media (max-width: 768px) {
  .main-content {
    width: 100%;
    max-width: 100%;

    margin-left: 0;

    padding: 80px 20px 20px;
  }
}